.App {
  text-align: center;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.App input,
.App button {
   
  font-size: 16px; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
}

.App button{
  background-color: green;
  color: white;
}
