.weather-cards{
    display: flex;;
    gap: 20px;
    justify-content: space-around;
    
}

.weather-card{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    color: black;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    border-radius: 7px;
}